@model CourseProject.Models.ViewModel.UpdateUserViewModel
@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

@if (User.IsInRole("admin"))
{
    <div class="admin-content">
        <ul class="nav">
            <li class="admin-link"><a asp-area="" asp-controller="Home" asp-action="Appointments">Усі Замовлення</a></li>
            <li class="admin-link"><a asp-area="" asp-controller="Employees" asp-action="Index">Робітники</a></li>
            <li class="admin-link"><a asp-area="" asp-controller="Service" asp-action="Index">Послуги</a></li>
        </ul>
    </div>
}

else
{
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <form method="post" action="UserAccounts" class="mt-5">
                <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>    <div class="mb-3">
                                    <label for="" class="form-label">Name</label>
                                    <input type="text" class="form-control" asp-for="Name">
                               
                            </div>
                        <div class="col-md-6">
                            <label class="labels">Email</label>
                            <input type="email" class="form-control" asp-for="Email">
                        </div>
                            </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>

                </div>

                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                    </form>
                    <div class="mt-5 text-center">
                        <a class="btn btn-primary profile-button" asp-controller="User" asp-action="UserAppointments" role="button">
                            Переглянути ваші замовлення
                        </a>
                    </div>
                </div>
        </div>
  
    </div>
</div>

}
<style>
    .admin-content {
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center; /* Center the child elements vertically */
        height: 100vh; /* Set the height to 100% of the viewport height */
    }

    .admin-link a {
        font-size: 20px;
        margin-right: 20px;
    }

    h1, h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 24px;
    }

    .user-content {
        /* Add styles for user content if needed */
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

</style>