@model CourseProject.Models.AddAppointmentViewModel
@{
}
<div id="page-content-wrapper">
	<div class="all-page-bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="title title-1 text-center">
						<div class="much">
							<img src="uploads/mustache.png" alt="" />
						</div>

						<div class="title--heading">
							<h1>Замовлення</h1>
						</div>
						<div class="clearfix"></div>

						<ol class="breadcrumb">
							<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
							<li class="active"></li>
						</ol>
					</div>
					<!-- .title end -->
				</div>
			</div>
		</div>
	</div><!-- end all-page-bar -->

	<div id="appointment" class="section wb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<small>Зробіть замовлення для покращення вашого життя</small>
					<h3>Замовляйте тут</h3>
				</div>
			</div><!-- end title -->

			<div class="row">
				<div class="col-lg-12">
					<div class="contact_form">
						<div id="message"></div>
						<form method="post" action="/Home/Add" name="contactform">

							<fieldset class="row row-fluid">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" placeholder="Ім'я" asp-for="FirstName">
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>

							

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="email" class="form-control" placeholder="Email" asp-for="Email">
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" placeholder="Телефон" asp-for="Phone">
									<span asp-validation-for="Phone" class="text-danger"></span>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="date" id="datePicker" class="form-control" placeholder="Виберіть дату" asp-for="DateOfBook">
									<span asp-validation-for="DateOfBook" class="text-danger"></span>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="time" id="timePicker" class="form-control" placeholder="Виберіть час" asp-for="TimeOfBook">
									<span asp-validation-for="TimeOfBook" class="text-danger"></span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<select class="form-control" asp-for="ServiceName" placeholder="Виберіть послугу" id="serviceSelect">
										<option value="">Виберіть послугу</option>
										<option value="Стрижка чоловіча" data-price="10">Стрижка чоловіча</option>
										<option value="Стрижка жіноча" data-price="15">Стрижка жіноча</option>
										<option value="Бриття бороди" data-price="5">Бриття бороди</option>
										<!-- Додайте інші варіанти, якщо потрібно -->
									</select>
									<span asp-validation-for="ServiceName" class="text-danger"></span>
								</div>

								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="text" class="form-control" placeholder="Ціна" asp-for="Price" id="priceInput" readonly>
									<span asp-validation-for="Price" class="text-danger"></span>
								</div>


								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<textarea class="form-control" rows="6" placeholder="Дайте нам більше деталей" asp-for="Description"></textarea>
									<span asp-validation-for="Description" class="text-danger"></span>
								</div>
								@if (User.Identity.IsAuthenticated)
								{
									<div class="form-btn text-center offset-lg-9">
										<button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">Зробити замовлення</button>
									</div>
								}
								else
								{
									<h3>Війдіть в аккаунт для замовлення </h3>
								}

							</fieldset>
						</form>
					</div>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->
</div>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var serviceSelect = document.getElementById("serviceSelect");
		var priceInput = document.getElementById("priceInput");

		serviceSelect.addEventListener("change", function () {
			var selectedOption = serviceSelect.options[serviceSelect.selectedIndex];
			var price = selectedOption.getAttribute("data-price");

			// Оновлення поля з ціною
			priceInput.value = price ? price + " грн" : "";
		});
	});

	flatpickr("#datePicker", {
		dateFormat: "Y-m-d",
        enableTime: false,
        minDate: "today" // Заборонити вибір дати раніше ніж сьогодні
    });

    flatpickr("#timePicker", {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        minTime: "09:00",
        maxTime: "20:00"
    });
</script>


