
@{
}
<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="all-page-bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="title title-1 text-center">
						<div class="much">
							<img src="~/uploads/mustache.png" alt="" />
						</div>

						<div class="title--heading">
							<h1>Наші послуги</h1>
						</div>
						<div class="clearfix"></div>

						<ol class="breadcrumb">
							<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
							<li class="active">Our Services</li>
						</ol>
					</div>
					<!-- .title end -->
				</div>
			</div>
		</div>
	</div><!-- end all-page-bar -->

	<div id="services" class="section lb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<small>Вітаємо у нашому барбешопі</small>
					<h3>Наші послуги</h3>
					<hr class="grd1">
					<p class="lead"></p>
				</div>
			</div><!-- end title -->
			<div class="row flex-items-xs-middle flex-items-xs-center">

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Гоління
							</h4>
							<div class="line-pricing">
								<h5>Базове</h5>
								<p>Отримаєте базове гоління, яке включає в себе обробку бороди або вусів без додаткових послуг або додаткового часу на стилізацію.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Класичне</h5>
								<p>Ви отримаєте більше індивідуалізованого підходу до гоління, можливо, включаючи гарячий рушник, багаторазовий бритвенний лезо, та/або використання якісних гоління кремів або олій.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Преміум</h5>
								<p>Ви отримаєте вищий рівень обслуговування, який включає в себе розширені послуги, такі як гарячий паровий апарат, масаж голови, додаткову стилізацію чи інші додаткові послуги для більш розкішного гоління.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Маска для лиця
							</h4>
							<div class="line-pricing">
								<h5>Базова</h5>
								<p>Ви отримаєте базову процедуру нанесення маски на шкіру обличчя. Включає в себе базовий обранітий засіб для маски, який наносять на шкіру для очищення.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Класична</h5>
								<p>Ви можете очікувати більше індивідуалізованого підходу до маскування обличчя. Це включає в себе використання високоякісних масок, які надають додаткові корисні властивості для шкіри, такі як зволоження та поживлення.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Преміум</h5>
								<p>Ви отримаєте преміумне обслуговування для маскування обличчя. Гарячий паровий апарат для відкриття пор, масаж обличчя, та використання найвищої якості масок для досягнення найкращого ефекту для вашої шкіри.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Зачіска
							</h4>
							<div class="line-pricing">
								<h5>Базова</h5>
								<p>Ви отримаєте базове оформлення волосся, яке може включати в себе просте укладання чи стрижку без додаткових послуг або стилізації.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Класична</h5>
								<p>Ви отримуєте більше індивідуалізованого підходу до укладання волосся. Це може включати в себе використання якісних стайлінгових продуктів та більш ретельну стилізацію для досягнення бажаного ефекту.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Преміум</h5>
								<p>Ви отримаєте преміумне оформлення волосся. Це може включати в себе розширені послуги, такі як гаряча укладка, використання професійних продуктів для стилізації, та більше складну стилізацію волосся.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			@* <div class="row">
				<div class="col-md-6">
					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_01.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>beard, mustache care</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_02.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>detailed feather cleaning</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center lastchild clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_03.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>facial and skin care</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->
				</div><!-- end col -->

				<div class="col-md-6">
					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_04.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>studio shots</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_05.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>forming the beard</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center lastchild clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_06.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>hair wash</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->
				</div><!-- end col -->
			</div> *@
		</div><!-- end container -->
	</div><!-- end section -->
</div>

<script>
    (function ($) {
        "use strict";
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function (anchor, toggle) { } // Function to run after scrolling
        });
    })(jQuery);
</script>